@import "compass";
@import "../node_modules/normalize.scss/normalize.scss";
@import "../node_modules/animatewithsass/_properties.scss";
@import "../node_modules/animatewithsass/_bouncing-entrances/_bounceInDown.scss";
@import "../node_modules/animatewithsass/_fading-entrances/_fadeInLeft.scss";
@import "../node_modules/animatewithsass/_fading-entrances/_fadeInRight.scss";


/* General variables */
$color-snow: #fffafa;
$color-sky-blue: #7ec0ee;

$padding-main: 20px;
$padding-top: $padding-main;
$padding-right: $padding-main;
$padding-bottom: $padding-main;
$padding-left: $padding-main;

$height-header: 50px;
$height-footer: 100px;
$height-outer-footer: $height-footer + $padding-bottom;

/* Specific variables */
$color-text: $color-snow;
$color-link: $color-sky-blue;
$color-link-hover: #BFDDF4;

/* Components */
.component-main-bg {
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#1d3c51+0,383155+100
  background-color: #1d3c51; // Old browsers
  @include filter-gradient(#1d3c51, #383155, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #1d3c51 0%,#383155 100%));
}

/* Styles */
/* GENERAL ********************************************************************/
html {
  height: 100%;
  @extend .component-main-bg;
}

body {
  height: 100%;
  color: $color-text;
  padding: 0 $padding-right 0 $padding-left;
}

.text-link {
  $border-bottom-width: 2px;
  color: $color-link;
  position: relative;
  text-decoration: none;
  border-bottom: $border-bottom-width solid $color-link;
  transition: color 0.5s;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: $border-bottom-width solid $color-link-hover;
    color: $color-link-hover;
    content: attr(data-hover);
    transition: max-width 0.5s;
    height: 100%;
    will-change: max-width;
  }
  &:hover {
    color: $color-link-hover;
    border-bottom: $border-bottom-width solid $color-link-hover;
    &:before {
      max-width: 100%;
    }
  }
  &:focus {
    outline: 2px groove $color-link;
    outline-offset: 2px;
  }
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$height-outer-footer;
  &:after {
    content: "";
    display: block;
    height: $height-outer-footer;
  }
}

.fadeInLeft {
  @include fadeInLeft();
}

.fadeInRight {
  @include fadeInRight();
}

/******************************************************************************/

/* HEADER *********************************************************************/
.header {
  height: $height-header;
  padding-top: $padding-top;
}

.header__icon {
  $border-width: 5px;
  height: $height-header + $border-width + $border-width;
  display: block;
  font-size: 42px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  @include bounceInDown(
    $duration: 1s,
    $count: $countDefault,
    $delay: 0s,
    $function: $functionDefault,
    $fill: $fillDefault
  );
  &:hover {
    & .header__icon-border:before {
      min-height: 0px;
      transition-delay: 0s;
    }
    & .header__icon-border:after {
      min-height: 0px;
      transition-delay: 0s;
    }
    & .header__icon-text {
      left: 12px;
      transition-delay: 0.5s;
    }
    & .header__icon-main-text {
      margin-right: -20px;
      transition-delay: 0.5s;
    }
  }
  &-text {
    line-height: $height-header + $border-width + $border-width;
    display: inline-block;
    position: absolute;
    width: 250px;
    left: -217px;
    transition: left 1s ease-in 0s;
    will-change: left;
  }
  &-main-text {
    transition: margin-right 1s linear 0s;
  }
  &-symbol {
    margin-left: 20px;
  }
  .header__icon-border {
    $border-width: 5px;
    display: inline-block;
    height: $height-header;
    width: $height-header;
    font-size: 42px;
    position: absolute;
    border: $border-width $color-snow solid;
    border-right: 0 transparent;
    &:before {
      content: "";
      display: inline-block;
      min-height: 50%;
      width: $border-width;
      background-color: $color-snow;
      position: absolute;
      right: 0px;
      bottom: 0px;
      transition: min-height 1s ease-in 0.5s;
      will-change: min-height;
    }
    &:after {
      content: "";
      display: inline-block;
      min-height: 50%;
      width: $border-width;
      background-color: $color-snow;
      position: absolute;
      right: 0px;
      top: 0px;
      transition: min-height 1s ease-in 0.5s;
      will-change: min-height;
    }
  }
}
/******************************************************************************/

/* MAIN ***********************************************************************/
.main {
  .main__heading {
    animation-duration: 0.5s;
    animation-delay: 0s;
  }
  .main__paragraph {
    &_first {
      animation-duration: 0.5s;
      animation-delay: 0.1s;
    }
    &_second {
      animation-duration: 0.5s;
      animation-delay: 0.2s;
    }
    &_third {
      animation-duration: 0.5s;
      animation-delay: 0.3s;
    }
    &_fourth {
      animation-duration: 0.5s;
      animation-delay: 0.4s;
    }
  }
}
/******************************************************************************/

/* FOOTER *********************************************************************/
.footer {
  height: $height-footer;
  padding-bottom: $padding-bottom;
}
/******************************************************************************/
