<!DOCTYPE html>
<html lang="en">
<head>
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alex Kersov personal site</title>
  <style>
    @@include('../stylesheets/main.css')
  </style>
</head>
<body>
  <div class="page-wrap">
    <header class="header">
      <span class="header__icon">
        <span class="header__icon-border"></span>
        <span class="header__icon-text">
          <span class="header__icon-main-text">Hello world</span>
          <span class="header__icon-symbol">!</span>
        </span>
      </span>
    </header>
    <div class="main" role="main">
      <h1>Hi, My name is Alex. I'm web developer.</h1>
      <p>I have more then 2 yeras experience of developing flexible, interactive and smart websites/web applications</p>
      <p>You can find me on
        <a href="" target="_blank" title="My Github" class="text-link" data-hover="Github">Github</a>,
        <a href="" target="_blank" title="My Twitter" class="text-link" data-hover="Twitter">Twitter</a> and
        <a href="" target="_blank" title="My LinkedIn" class="text-link" data-hover="LinkedIn">LinkedIn</a>
      </p>
      <p>I'm ready for further cooperation. You can use link bellow to contact me or to request my portfolio.</p>
      <a href="mailto:kersov@gmail.com" title="My mail" class="text-link" data-hover="Let's work together">Let's work together <span aria-hidden="true">&lArr;</span></a>
    </div>
  </div>
  <footer class="footer">
    <address>&copy; 2017 Alex Kersov</address>
    <a href="" target="_blank">
      <svg width="16" height="16">
        <image xlink:href="img/icons/github.svg" src="img/icons/twitter.png" width="16" height="16" />
      </svg>
    </a>
    <a href="" target="_blank">
      <svg width="16" height="16">
        <image xlink:href="img/icons/twitter.svg" src="img/icons/twitter.png" width="16" height="16" />
      </svg>
    </a>
    <a href="" target="_blank">
      <svg width="16" height="16">
        <image xlink:href="img/icons/linkedin.svg" src="img/icons/twitter.png" width="16" height="16" />
      </svg>
    </a>
  </footer>
</body>
</html>
