<!DOCTYPE html>
<html lang="en">
<head>
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oleksii Kersov personal site</title>
  <style>
    @@include('../stylesheets/main.css')
  </style>
</head>
<body>
  <canvas id="stars" class="stars"></canvas>
  <div class="background"></div>
  <div class="page-wrap">
    <header class="header">
      <span class="header__icon">
        <span class="header__icon-border"></span>
        <span class="header__icon-text">
          <span class="header__icon-main-text">Hello world</span>
          <span class="header__icon-symbol">!</span>
        </span>
      </span>
    </header>
    <div class="main" role="main">
      <h1 class="main__heading fadeInLeft">Hi, My name is Oleksii. I'm web developer.</h1>
      <p class="main__paragraph main__paragraph_first fadeInRight">I have more than 3 years experience of developing flexible, interactive and progressive websites and web applications.</p>
      <p class="main__paragraph main__paragraph_second fadeInRight">But I am especially interested in working with e-commerce projects, implementing third-party integrations of different complexity.</p>
      <p class="main__paragraph main__paragraph_third fadeInLeft">You can find me on
        <a href="https://github.com/okersov" target="_blank" title="My Github" class="text-link" data-hover="Github">Github</a>,
        <a href="https://twitter.com/AlexOwl29" target="_blank" title="My Twitter" class="text-link" data-hover="Twitter">Twitter</a> and
        <a href="https://www.linkedin.com/in/oleksii-kersov-865b24104/" target="_blank" title="My LinkedIn" class="text-link" data-hover="LinkedIn">LinkedIn</a>
      </p>
      <p class="main__paragraph main__paragraph_fourth fadeInLeft">
        Feel free to <a href="mailto:kersov@gmail.com" title="My mail" class="text-link" data-hover="contact me">contact me</a> if you want
      </p>
    </div>
  </div>
  <footer class="footer fadeInLeft">
    <address class="creator">&copy; 2018 Oleksii Kersov</address>
    <section class="footer__icons">
      <a href="https://github.com/okersov" target="_blank" title="My Github" class="icon icon_size_medium icon_type_github icon_type_social margin-left-10"></a>
      <a href="https://twitter.com/AlexOwl29" target="_blank" title="My Twitter" class="icon icon_size_medium icon_type_twitter icon_type_social margin-left-10"></a>
      <a href="https://www.linkedin.com/in/oleksii-kersov-865b24104/" target="_blank" title="My LinkedIn" class="icon icon_size_medium icon_type_linkedin icon_type_social margin-left-10"></a>
    </section>
  </footer>
  <script>
    @@include('../scripts/index.min.js')
  </script>
</body>
</html>
