//@import "../sprite/icons.scss";

.icon {
  display: inline-block;
  &_size_medium {
    width: 50px;
    height: 50px;
  }
  &_type_github {
    background-color: $color-github;
    background-position: 13px 13px;
    @include media-breakpoint-down(xs) {
      width: 25px;
      height: 25px;
      margin-top: 25px;
      background-position: 0px 0px;
    }
  }
  &_type_twitter {
    background-color: $color-twitter;
      background-position: 13px -37px;
      @include media-breakpoint-down(xs) {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        background-position: 0px -50px;
      }
  }
  &_type_linkedin {
    background-color: $color-linkedin;
    background-position: -37px 13px;
    @include media-breakpoint-down(xs) {
      width: 25px;
      height: 25px;
      margin-top: 25px;
      background-position: -50px 0px;
    }
  }
  &_type_social {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 1px 0px rgba(255,255,255,0.75);
    transition: all 0.5s ease;
    &:hover {
      border-radius: 100%;
      transform: rotate(360deg);
    }
    &:active {
      border-radius: 100%;
      transform: rotate(360deg) scale(1.2);
    }
  }
}
